input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button1 {
    margin: 16px 150px !important;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;    
    font-size: 16px;
    cursor: pointer;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 22.5px;
    margin: 16px 100px !important;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }
  .input2 {
    margin: 16px 30px !important;
  }
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
li{
  margin: 10px 0;
}
h5{
  color:red;
}