<!DOCTYPE html>
<html ng-app="App">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="app.css">
        <script src="angular.min.js"></script>
        <script src="app.js" ></script>
        <title>Eduard Faus Coursera Project</title>
    </head>
    <body>
        <h1>Eduard's Coursera App</h1>
        <div ng-controller="ApController">
            <br>
            <h2>Search: </h2> <input type="text" ng-model="inputvalue"> <button ng-click="InputButton()">Search</button>
            <br>
            <h2>Items: </h2>
            <h5 ng-repeat="item in array | filter: search"> {{ item }}<h5>
        </div>
    </body>
    <footer>
        @EduardFaus2020
    </footer>

</html>