<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app.js" ></script>
        <title>Eduard Faus Coursera Project</title>
    </head>
    <body>
        <h1>Check If to Much</h1>
        <div ng-controller="CheckIfToMuch">
            <button ng-click="findIfItsToMuch()">Check If Too Much</button>
            <div> Is this to much ->  <input type="text" ng-model="inputvalue"> </div>
            {{isItToMuch}}
        </div>
    </body>
</html>