<!DOCTYPE html>
<html ng-app="App">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="app.css">
        <script src="angular.min.js"></script>
        <script src="app.js" ></script>
        <title>Eduard Faus Coursera Project</title>
    </head>
    <body>
        <h1>Eduard's Coursera App</h1>
        <div ng-controller="ApController">
            <br>
            Replace This: <input type="text" ng-model="inputvalue">
            <br>
            With That: <input type="text" ng-model="inputvalue2" class="input2">
            <br>
            <button ng-click="InputButton()" class="button1">Fix the output</button>
            <br>
            <br>
            <br>
            <h2>Output: {{response}}<h2></h2>
        </div>
    </body>
    <footer>
        @EduardFaus2020
    </footer>

</html>